<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="assignment-body grid">
  <div class="col-12">
    <div class="card px-6 py-6 bg-">
      <p-table
        #dt
        [value]="transformedArrays"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-gridlines"
        [resizableColumns]="true"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex">
            <p-autoComplete
              inputId="_class"
              [dropdown]="true"
              [(ngModel)]="_class"
              [suggestions]="filteredClasses"
              (completeMethod)="onFliterClass($event)"
              [forceSelection]="true"
              field="name"
              [style]="{ 'min-width': '200px' }"
              (ngModelChange)="onChange()"></p-autoComplete>
            <button
              pButton
              pRipple
              label="Export"
              icon="pi pi-upload"
              class="p-button-help ml-auto"
              (click)="onExportExcel()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Tiết</th>
            <th>Thời gian</th>
            <th>Thứ 2</th>
            <th>Thứ 3</th>
            <th>Thứ 4</th>
            <th>Thứ 5</th>
            <th>Thứ 6</th>
            <th>Thứ 7</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transformedArray>
          <tr>
            <td>{{ transformedArray.period }}</td>
            <td>{{ transformedArray.time }}</td>
            <td>
              {{ getDetail(transformedArray.t2) }}
            </td>
            <td>{{ getDetail(transformedArray.t3) }}</td>
            <td>{{ getDetail(transformedArray.t4) }}</td>
            <td>{{ getDetail(transformedArray.t5) }}</td>
            <td>{{ getDetail(transformedArray.t6) }}</td>
            <td>{{ getDetail(transformedArray.t7) }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
